<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
     <div class="contener">
        <div class="upperdiv">
            get a free security yard sing when you spend $.199 shop now
        </div>
        <header>

             <nav class="navbar">
                <h1>Logo</h1> 
                  <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="./graphics.html">Graphics</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Login</a></li>
                  </ul>
             </nav>
    </div>
        </header>
        <main class="main4">
             <div class="login4">
                  <h1>login</h1>
                   <input type="enter your email"placeholder="enter your email"> <br><br>
                   <input type="confirm a password" placeholder="confirm a password"><br><br>
                   <!-- <input type="redio"name="male"placeholder="male" value="male"> -->
                   <p>Remember me <a href="#">forget password</a></p><br><br>
                   <button>Login Now</button>
                  
                   <p>Don't have account <a href="#">Signup Now</a></p>
                  </div>
                   <div class="login5">
                      <h1>Registration</h1>
                      <input type="enter your name"placeholder="enter your name"><br><br>
                      <input type="enter your email"placeholder="enter your email"><br><br>
                      <input type="create a password"placeholder="create a password"><br><br>
                      <input type="confirm a password"placeholder="confirm a password"><br><br>
                      <p>i accept all trems & condition</p><br><br>
                      <button>Register Now</button><br>
                      <p>Alrady have an account <a href="#">Login Now</a></p>


                   </div>

        </main>