<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styel.css">
    <link rel="stylesheet" href="store.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
</head>
<body>


    <header class="topnav">
        <nav>
            <img src="https://static.vecteezy.com/system/resources/thumbnails/008/213/768/small/letter-n-thunderbolt-energy-logo-symbol-icon-design-vector.jpg"width="70" alt="">
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="./About.html">ABOUT</a></li>
                <li><a href="./contact.html">CONTACT</a></li>
                <li><a href="./store.html" target="_blank">STORE</a></li>
            </ul>
        </nav>
        <div class="search1">
            <input class="sear1" type="search"placeholder="search">
            <button class="button1">submit</button>
        </div>
    </header>



<div>
    <h2 style="text-align:center">Product Card</h2>

<div class="card">
  <img src="/img01.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div>
    <h2 style="text-align:center">Product Card</h2>

<div class="card">
  <img src="/img01.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div>
    <h2 style="text-align:center">Product Card</h2>

<div class="card">
  <img src="/img01.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div>
    <h2 style="text-align:center">Product Card</h2>

<div class="card">
  <img src="/img01.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div>
    <h2 style="text-align:center">Product Card</h2>

<div class="card">
  <img src="/img01.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div>
    <h2 style="text-align:center">Product Card</h2>

<div class="card">
  <img src="/img01.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div>
    <h2 style="text-align:center">Product Card</h2>

<div class="card">
  <img src="/img01.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div></div>
</body>
</html>
